name: CD - GitHub Pages

on:
  workflow_run:
    workflows: ["CI - Tests HTML"]
    types: [completed]
    branches: [main]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy-pages:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Configuration de Pages
        uses: actions/configure-pages@v4

      - name: Upload de l'artefact
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.'

      - name: Deploiement sur GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
